.change-password-page-container {
  .form-label {
    font-weight: 600;
  }

  .form-control {
    border-radius: 0.5rem;
  }

  .btn-save {
    background-color: #007bff;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  .btn-save:hover {
    background-color: #0056b3;
  }
}
