.dashboard-navbar {
  background-color: #374151 !important; // Dark professional gray
  height: 70px;
  color: white;

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .logo-dig {
    height: 55px;
    object-fit: contain;
  }

  .user, .logout-btn {
    color: white;
    font-weight: 600;
    transition: color 0.3s;
    text-decoration: none;
  }

  .user:hover, .logout-btn:hover {
    color: #a1cd62;
  }

  .logout-btn {
    background: none;
    border: none;
  }
}
