.sidenav {
  width: 6rem;
  background: #F4F6FA;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  height: 100vh;
  transition: width 0.3s ease;

  .logo-container {
    padding: 1rem;
    .logo {
      background: #5C6BC0;
      color: white;
      border: none;
      font-weight: bold;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
    .logo-text {
      color: #374151;
      font-weight: bold;
      margin-left: 1rem;
    }
  }

  .sidenav-nav {
    padding: 1rem;
    list-style-type: none;
    .sidenav-nav-item {
      margin-bottom: 1rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        color: #374151;
        padding: 0.6rem 0.8rem;
        border-radius: 10px;
        transition: all 0.3s;

        &:hover {
          background-color: #E3E8F5;
        }

        &.active {
          background-color: #D1D9F1;
          color: #5C6BC0;
          font-weight: 600;
        }

        .sidenav-link-icon {
          width: 2rem;
          text-align: center;
          font-size: 1.1rem;
        }

        .sidenav-link-text {
          margin-left: 1rem;
          font-size: 0.95rem;
        }
      }
    }
  }
}

.sidenav-collapsed {
  width: 15rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .logo {
    background: #5C6BC0;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .logo-right-section {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 0.5rem;

    .logo-text {
      color: #374151;
      font-weight: bold;
    }

    .btn-close {
      background: transparent;
      border: none;
      cursor: pointer;

      i.close-icon {
        font-size: 1.1rem;
        color: #374151;
      }

      &:hover i.close-icon {
        color: #5C6BC0;
      }
    }
  }
}

