.sidenav {
  background: #78bdb9;
  width: 6rem;
  transition: width 0.3s;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  position: fixed;

  .logo {
    background: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .sidenav-nav-link {
    color: white;
    padding: 0.75rem;
    border-radius: 12px;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background-color: #ffffff;
      color: #78bdb9;
    }

    &.active {
      background-color: #ffffff;
      color: #a1cd62;
      font-weight: 600;
    }
  }

  .sidenav-link-icon {
    font-size: 1.25rem;
  }

  .sidenav-link-text {
    font-size: 0.95rem;
  }
}

.sidenav-collapsed {
  width: 15rem;
}
