<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">TB</button>
    <div class="logo-text"  *ngIf="collapsed">Menu</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

<ng-template #navData let-collapsed="collapsed">
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon fas fa-home"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Dashboard</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]="['/budgets']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon fas fa-wallet"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Budgets</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]="['/transactions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon fa-regular fas fa-exchange"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Transactions</span>
      </a>
    </li>


  </ul>
</ng-template>

<ng-container *ngTemplateOutlet="navData; context: {collapsed: collapsed}"></ng-container>
</div>