<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
  <button class="logo" (click)="toggleCollapse()">TB</button>
</div>


<ng-template #navData let-collapsed="collapsed">
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon fas fa-home"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Home</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]="['/budgets']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon fas fa-wallet"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Budgets</span>
      </a>
    </li>
  </ul>
</ng-template>

<ng-container *ngTemplateOutlet="navData; context: {collapsed: collapsed}"></ng-container>
</div>